netflix.csv
hbomax.csv
primevideo.csv
package-lock.json
node_modules
*-cleaned.csv
*-cleaned.json
handling_files/crunchyroll_web_scrap.js
handling_files/crunchyrollCheckNewTitles.py
handling_files/crunchyrollCheckRemoveTitles.py
patchnotes.md
newTitlesCrunchyroll.csv
update.sh
removeTitlesCrunchyroll.csv
