html
{
  height: 100%;
  width: 100%;
  background: #1E1E1E;
}

body
{
  height: 95%;
  width: 95%;
}

#anime_search
{
  box-sizing: border-box;
  width: 656px;
  height: 40px;
  background: #353535;
  border: 1px solid #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #cfcfcf;
}

#submit
{
  background: none;
  border: none;
  color: #cfcfcf;
  cursor: pointer;
}

#title
{
  position: absolute;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#coverImage
{
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  height: 330px;
  width: 230px;
  border-radius: 10px;
}

#episodesTitle
{
  position: absolute;
  left: 250px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#episodesElement
{
  position: absolute;
  left: 250px;
  top: 25px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#formatTitle
{
  position: absolute;
  left: 250px;
  top: 75px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#formatElement
{
  position: absolute;
  left: 250px;
  top: 100px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#durationTitle
{
  position: absolute;
  left: 250px;
  top: 140px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#durationElement
{
  position: absolute;
  left: 250px;
  top: 165px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#streamingsTitle
{
  position: absolute;
  left: 250px;
  top: 220px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

#streaming
{
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#streamingIcon
{
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

#titlePage
{
  position: absolute;
  left: 150px;
  top: -30px;
  font-style: normal;
  font-weight: 400,bolder;
  font-size: 60px;
  line-height: 38px;
  text-align: left;
  color: #cfcfcf;
}

.app
{
  height: 100%;
  width: 100%;
}

.search_bar
{
  position: absolute;
  left: 600px;
  top: 36px;
}

.container
{
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: absolute;
  left: 100px;
  top: 100px;
  align-content: center;
  background: #353535;
  border-radius: 10px;
}

.card
{
  position: relative;
  width: 380px;
  height: 460px;
  margin: 10px;
  margin-bottom: 30px;
  top: 20px;
  border-radius: 10px;
  background: #414141;
}

.cardInfo
{
  position: absolute;
  height: 326px;
  width: 230px;
}

.streamings
{
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  margin: 5px;
  left: 250px;
  top: 268px;
}